@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
/* ========================== 
          General
===========================*/
body {
  background-color: #101116;
  color: #fff;
}
/* ========================== 
          Font Setting 
===========================*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
}
p,
a,
button,
label,
span,
select,
option {
  font-family: "Open Sans", sans-serif;
}
/* ========================== 
          Header 
===========================*/
.box-search svg {
  color: #101116;
}
.box-search.active-search input {
  transition: 0.5s;
  margin-right: 0;
  width: 250px;
}
.box-search input:focus {
  border: 0;
  outline: 0;
}
.active-search button {
  background-color: #88ab8e;
  border-radius: 100px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}
.active-search button svg path {
  stroke: #fff;
}
/* ========================== 
          Banner 
===========================*/
/* .thumbnails-navigation .box-img::after {
  content: "";
  background-image: url("https://www.pronline.de/wp-content/uploads/2013/11/dummy-image-portrait.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
.banner-image.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.thumbnail-gallery img {
  transition: opacity 0.5s ease-in-out;
}

.thumbnail-gallery img:hover {
  opacity: 0.8;
}

.thumbnail-gallery img.active {
  border: 2px solid #ff6600;
}
#banner::after {
  content: "";
  background-color: rgb(0, 0, 0, 0.65);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.thumbnails-navigation img.active {
  border: 5px solid;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
/* ========================== 
          Sidebar
===========================*/
.navigation a.active svg {
  color: #88ab8e;
}
.items-center li {
  position: relative;
}
.items-center .title-nav {
  display: none;
}
.items-center a:hover .title-nav {
  display: block;
  position: absolute;
  left: 35px;
  z-index: 9;
  top: 0;
}
/* ========================== 
          Sidebar
===========================*/
.skeleton-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.skeleton-content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-color: #f0f0f0;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* ========================== 
          Pagination 
===========================*/
.pagination button.active {
  background-color: #88ab8e;
}
/* ========================== 
        Detail Page
===========================*/
.genre-list span {
  border-radius: 10px;
  padding: 5px 15px;
}
.genre-list span:nth-child(odd) {
  background-color: yellow;
  color: #101116;
}
.genre-list span:nth-child(even) {
  background-color: red;
  color: #fff;
}
.quotes {
  position: relative;
  padding: 50px 50px 70px 50px;
}
.quotes::before {
  content: "";
  background-image: url("https://i.ibb.co/Srfwy3x/9026970-quotes-thin-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  left: 10px;
  display: block;
  position: absolute;
  transform: rotate(180deg);
}
.quotes::after {
  content: "";
  background-image: url("https://i.ibb.co/Srfwy3x/9026970-quotes-thin-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  right: 10px;
}
.swiper-pagination {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
}
